@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: var(--app-bg);
  --foreground: var(--text-normal);
  --card: var(--background-primary);
  --card-foreground: var(--text-normal);
  --popover: var(--popover-background);
  --popover-foreground: var(--text-normal);
  --primary: var(--text-normal);
  --primary-foreground: var(--text-on-same-as-bkg);
  --secondary: var(--background-secondary);
  --secondary-foreground: var(--text-normal);
  --muted: var(--background-secondary);
  --muted-foreground: var(--text-muted);
  --accent: var(--text-accent);
  --accent-foreground: var(--text-on-accent);
  --destructive: var(--text-error);
  --destructive-foreground: var(--text-on-same-as-bkg);
  --border: var(--border-color);
  --input: var(--border-color);
  --ring: var(--outline-color);
  --radius: var(--radius-m);
  --sidebar: var(--background-secondary);
  --sidebar-foreground: var(--text-normal);
  --sidebar-primary: var(--text-accent);
  --sidebar-primary-foreground: var(--text-on-accent);
  --sidebar-accent: var(--background-secondary);
  --sidebar-accent-foreground: var(--text-normal);
  --sidebar-border: var(--border-color);
  --sidebar-ring: var(--outline-color);
}

.dark {
  --background: var(--app-bg);
  --foreground: var(--text-normal);
  --card: var(--background-primary);
  --card-foreground: var(--text-normal);
  --popover: var(--popover-background);
  --popover-foreground: var(--text-normal);
  --primary: var(--text-normal);
  --primary-foreground: var(--text-on-same-as-bkg);
  --secondary: var(--background-secondary);
  --secondary-foreground: var(--text-normal);
  --muted: var(--background-secondary);
  --muted-foreground: var(--text-muted);
  --accent: var(--text-accent);
  --accent-foreground: var(--text-on-accent);
  --destructive: var(--text-error);
  --destructive-foreground: var(--text-on-same-as-bkg);
  --border: var(--border-color);
  --input: var(--border-color);
  --ring: var(--outline-color);
  --radius: var(--radius-m);
  --sidebar: var(--background-secondary);
  --sidebar-foreground: var(--text-normal);
  --sidebar-primary: var(--text-accent);
  --sidebar-primary-foreground: var(--text-on-accent);
  --sidebar-accent: var(--background-secondary);
  --sidebar-accent-foreground: var(--text-normal);
  --sidebar-border: var(--border-color);
  --sidebar-ring: var(--outline-color);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

span[data-slot="badge"] {
  margin: 5px
}

#delete-enum-div {
  cursor: pointer;
}

.fake-dropdown {
  background-color: var(--text-accent);
  color: var(--text-on-accent);
  padding: 2px 6px;
  border-radius: 4px;
  cursor: pointer !important;
}

.tp-modal-button {
  margin: 2px;
  height: 30px;
  width: 80px;
}

.tp-modal-button-currency {
    margin-left: 5px;
    box-sizing: content-box;
    height: 30px;
    width: 80px;
    padding: 0px 6px;
}

.tp-modal-dropdown-currency{
  margin-right: 5px; 
}

.tp-modal-content {
  display: flex;
  align-items: center;
}

.tp-modal-input {
    flex-grow: 1;
}

.tp-modal-config-setting{
  flex-grow: 1;
}


.tp-confirmation-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}
